Repository kokiebisu/rental-storage, changes with the labels that .github/labeler.yml gives for each.
All labels: composition, service:authentication, service:authorizer, service:booking, service:image, service:listing, service:payment, service:slack, service:user, scripts, api:appsync, terraform, mobile, github-workflows

.github/labeler.yml:

composition:
  - packages/composition/**
service:authentication:
  - packages/service-authentication/**
service:authorizer:
  - packages/service-authorizer/**
service:booking:
  - packages/service-booking/**
service:image:
  - packages/service-image/**
service:listing:
  - packages/service-listing/**
service:payment:
  - packages/service-payment/**
service:slack:
  - packages/service-slack/**
service:user:
  - packages/service-user/**
scripts:
  - scripts/**
api:appsync:
  - infrastructure/aws/resources/appsync/**
terraform:
  - terraform/**
mobile:
  - mobile/**
github-workflows:
  - .github/**

fix
  packages/service-booking/internal/adapter/db/dynamo.go
Labels: service:booking

fix ci
  .github/workflows/call-deploy-dev.yml
Labels: github-workflows

fix
  .github/workflows/call-deploy-dev.yml
Labels: github-workflows

fix
  .github/workflows/call-deploy-dev.yml
Labels: github-workflows

Fix
  .github/workflows/call-deploy-dev.yml
Labels: github-workflows

fix
  .github/workflows/call-deploy-dev.yml
Labels: github-workflows

remove tfstate from commit history
  .gitignore
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
Labels: terraform

fix
  .github/workflows/call-deploy-dev.yml
  .github/workflows/call-setup-build.yml
  .github/workflows/call-test-unit.yml
  terraform/errored.tfstate
Labels: terraform, github-workflows
