Repository kokiebisu/rental-storage, changes with the labels that .github/labeler.yml gives for each.
All labels: composition, service:authentication, service:authorizer, service:booking, service:image, service:space, service:payment, service:slack, service:user, scripts, api:appsync, terraform, mobile, web, github-workflows, vscode

fix composition test
  packages/composition/test/api/mutation/acceptBooking.test.ts
Labels: composition

initial
  packages/service-authentication/go.mod
  packages/service-authentication/go.sum
  packages/service-authentication/internal/client/factory.go
  packages/service-authentication/internal/client/redis.go
  packages/service-authentication/internal/error/handler.go
Labels: service:authentication

chore (#581)
  appsync/Makefile
  packages/composition/Makefile
  packages/composition/test/api/mutation/acceptBooking.test.ts
  packages/service-authentication/Makefile
  packages/service-authorizer/Makefile
  packages/service-booking/Makefile
  packages/service-image/Makefile
  packages/service-slack/Makefile
  packages/service-space/Makefile
  packages/service-user/Makefile
Labels: composition, service:authentication, service:authorizer, service:booking, service:image, service:space, service:slack, service:user

add token store struct
  packages/service-authentication/internal/adapter/store/token.go
Labels: service:authentication

feat(authentication): set up session token store (#584)
  packages/service-authentication/go.mod
  packages/service-authentication/go.sum
  packages/service-authentication/internal/adapter/store/token.go
  packages/service-authentication/internal/client/factory.go
  packages/service-authentication/internal/client/redis.go
  packages/service-authentication/internal/error/handler.go
Labels: service:authentication

initial
  packages/service-authentication/docker-compose.yml
  packages/service-authentication/internal/client/factory.go
Labels: service:authentication

feat(authentication): set up redis docker (#586)
  packages/service-authentication/docker-compose.yml
  packages/service-authentication/internal/client/factory.go
Labels: service:authentication

set up make commands
  packages/service-authentication/Makefile
  packages/service-authentication/mocks/authentication_service.go
Labels: service:authentication

generate mocks
  packages/service-authentication/mocks/controller.go
  packages/service-authentication/mocks/crypto_service.go
  packages/service-authentication/mocks/token_service.go
Labels: service:authentication

fix make command to unit test
  packages/service-authentication/Makefile
Labels: service:authentication

refactor unit tests into unit directory
  packages/service-authentication/test/integration/service/verify_test.go
  packages/service-authentication/test/unit/error/handler_test.go
  packages/service-authentication/test/unit/helper/json_test.go
  packages/service-authentication/test/unit/service/authentication_test.go
  packages/service-authentication/test/unit/service/crypto_test.go
  packages/service-authentication/test/unit/service/token_test.go
Labels: service:authentication

revert verify_test
  packages/service-authentication/test/integration/service/verify_test.go
Labels: service:authentication

add documentation to service methods
  packages/service-authentication/internal/adapter/store/token.go
  packages/service-authentication/internal/core/service/authentication.go
  packages/service-authentication/internal/core/service/crypto.go
  packages/service-authentication/internal/core/service/token.go
Labels: service:authentication

chore(authentication) (#588)
  packages/service-authentication/Makefile
  packages/service-authentication/internal/adapter/store/token.go
  packages/service-authentication/internal/core/service/authentication.go
  packages/service-authentication/internal/core/service/crypto.go
  packages/service-authentication/internal/core/service/token.go
  packages/service-authentication/test/unit/error/handler_test.go
  packages/service-authentication/test/unit/helper/json_test.go
  packages/service-authentication/test/unit/service/authentication_test.go
  packages/service-authentication/test/unit/service/crypto_test.go
  packages/service-authentication/test/unit/service/token_test.go
Labels: service:authentication

fix
  packages/service-authentication/internal/adapter/store/token.go
  packages/service-authentication/internal/core/port/store.go
  packages/service-authentication/internal/error/handler.go
  packages/service-authentication/test/data/mock.go
  packages/service-authentication/test/data/utils.go
  packages/service-authentication/test/integration/adapter/main_test.go
  packages/service-authentication/test/integration/adapter/token_test.go
Labels: service:authentication

test(authentication): set up integration tests for token-store (#589)
  packages/service-authentication/Makefile
  packages/service-authentication/internal/adapter/store/token.go
  packages/service-authentication/internal/core/port/store.go
  packages/service-authentication/internal/error/handler.go
  packages/service-authentication/mocks/authentication_service.go
  packages/service-authentication/mocks/controller.go
  packages/service-authentication/mocks/crypto_service.go
  packages/service-authentication/mocks/token_service.go
  packages/service-authentication/test/data/mock.go
  packages/service-authentication/test/data/utils.go
  packages/service-authentication/test/integration/adapter/main_test.go
  packages/service-authentication/test/integration/adapter/token_test.go
Labels: service:authentication

initial
  packages/server-mock/Dockerfile
  packages/server-mock/Makefile
  packages/server-mock/docker-compose.yml
  packages/server-mock/pact/service-space/example.json
  packages/server-mock/pact/service-user/example.json
Labels: none

.github/labeler.yml:

composition:
  - packages/composition/**
service:authentication:
  - packages/service-authentication/**
service:authorizer:
  - packages/service-authorizer/**
service:booking:
  - packages/service-booking/**
service:image:
  - packages/service-image/**
service:space:
  - packages/service-space/**
service:payment:
  - packages/service-payment/**
service:slack:
  - packages/service-slack/**
service:user:
  - packages/service-user/**
scripts:
  - scripts/**
api:appsync:
  - infrastructure/aws/resources/appsync/**
terraform:
  - terraform/**
mobile:
  - mobile/**
web:
  - web/**
github-workflows:
  - .github/**
vscode:
  - config/settings.json
