Repository kokiebisu/rental-storage, changes with the labels that .github/labeler.yml gives for each.
All labels: authentication-service, authorizer-service, booking-service, image-service, listing-service, payment-service, slack-service, user-service, scripts, infrastructure, api, mobile, github-workflows

.github/labeler.yml:

authentication-service:
  - packages/service-authentication/**
authorizer-service:
  - packages/service-authorizer/**
booking-service:
  - packages/service-booking/**
image-service:
  - packages/service-image/**
listing-service:
  - packages/service-listing/**
payment-service:
  - packages/service-payment/**
slack-service:
  - packages/service-slack/**
user-service:
  - packages/service-user/**
scripts:
  - scripts/**
infrastructure:
  - infrastructure/**
api:
  - api/**
mobile:
  - mobile/**
github-workflows:
  - .github/**

setup ci
  .github/actions/test-python/action.yml
  packages/service-image/Makefile
  packages/service-slack/Makefile
Labels: image-service, slack-service, github-workflows

setup ci
  .github/actions/test-python/action.yml
Labels: github-workflows

setup ci
  packages/service-image/test/test_get_presigned_upload_url.py
  packages/service-slack/test/test_add.py
Labels: image-service, slack-service

add workflow
  .github/workflows/pr-feature.yml
  .github/workflows/trigger-feature.yml
Labels: github-workflows

add workflow
  .github/workflows/buildspecs/codebuild-deploy.yml
  .github/workflows/pr-feature.yml
Labels: github-workflows

add workflow
  .github/workflows/buildspecs/codebuild-deploy.yml
Labels: github-workflows

add workflow
  .github/workflows/pr-feature.yml
Labels: github-workflows

fix
  serverless-compose.yml
Labels: none

fix
  .github/workflows/buildspecs/codebuild-deploy.yml
  package.json
Labels: github-workflows

fix
  .github/workflows/buildspecs/codebuild-deploy.yml
Labels: github-workflows

fix
  .github/workflows/buildspecs/codebuild-deploy.yml
  .github/workflows/pr-feature.yml
Labels: github-workflows

add code
  .github/actions/test-golang/action.yml
Labels: github-workflows

add code
  .github/workflows/pr-feature.yml
  packages/service-authorizer/authorizer_test.go
  packages/service-payment/cmd/create_payment_customer/add_test.go
  packages/service-payment/cmd/make_payment/add_test.go
Labels: authorizer-service, payment-service, github-workflows

add code
  .github/actions/test-golang/action.yml
  .github/actions/test-python/action.yml
  .github/workflows/pr-feature.yml
Labels: github-workflows

add code
  .github/actions/test-golang/action.yml
  .github/workflows/pr-feature.yml
Labels: github-workflows

add code
  .github/actions/test-golang/action.yml
  packages/service-authentication/Makefile
  packages/service-authentication/cmd/signin/add_test.go
  packages/service-authentication/cmd/signup/add_test.go
  packages/service-authentication/cmd/verify/add_test.go
  packages/service-authorizer/Makefile
  packages/service-payment/Makefile
Labels: authentication-service, authorizer-service, payment-service, github-workflows

add code
  packages/service-authorizer/Makefile
Labels: authorizer-service

add code
  .github/workflows/pr-feature.yml
  serverless-compose.yml
Labels: github-workflows

add code
  scripts/install.sh
Labels: scripts

add code
  scripts/install.sh
  serverless-compose.yml
Labels: scripts

add code
  scripts/install.sh
Labels: scripts

add package-lock.json to service-authentication
  packages/service-authentication/package-lock.json
Labels: authentication-service

fix
  .github/workflows/pr-feature.yml
Labels: github-workflows

fix
  scripts/install.sh
  serverless-compose.yml
Labels: scripts

fix
  .github/workflows/pr-feature.yml
Labels: github-workflows

fix
  .github/workflows/pr-dev.yml
  api/apigateway/serverless.yml
  api/appsync/serverless.yml
  infrastructure/serverless.yml
  packages/service-authentication/serverless.yml
  packages/service-authorizer/serverless.yml
  packages/service-booking/serverless.yml
  packages/service-image/serverless.yml
  packages/service-listing/serverless.yml
  packages/service-payment/serverless.yml
  packages/service-slack/serverless.yml
  packages/service-user/serverless.yml
Labels: authentication-service, authorizer-service, booking-service, image-service, listing-service, payment-service, slack-service, user-service, infrastructure, api, github-workflows

fix
  .github/actions/aws-setup/action.yml
  .github/workflows/pr-feature.yml
  packages/service-slack/aws/functions/kinesis.yml
  serverless-compose.yml
Labels: slack-service, github-workflows

fix
  packages/service-listing/serverless.yml
  packages/service-slack/serverless.yml
  serverless-compose.yml
Labels: listing-service, slack-service

fix
  .github/workflows/pr-feature.yml
  .github/workflows/unit-test.yml
Labels: github-workflows

fix
  .github/workflows/pr-feature.yml
Labels: github-workflows

fix
  .github/actions/deps-install/action.yml
  .github/workflows/pr-feature.yml
Labels: github-workflows

fix
  .github/workflows/pr-feature.yml
Labels: github-workflows

fix
  .github/workflows/pipeline-dev.yml
  .github/workflows/pipeline-feature.yml
Labels: github-workflows

fix
  .github/workflows/pipeline-dev.yml
Labels: github-workflows

fix
  .github/actions/deps-install/action.yml
  .github/workflows/pipeline-dev.yml
Labels: github-workflows

fix
  .github/actions/setup-deps/action.yml
  .github/workflows/pipeline-dev.yml
  .github/workflows/pipeline-feature.yml
Labels: github-workflows

fix
  .github/actions/setup-deps/action.yml
Labels: github-workflows

fix
  .github/workflows/pipeline-dev.yml
Labels: github-workflows

fix
  .github/workflows/pipeline-dev.yml
Labels: github-workflows

fix
  .github/workflows/pipeline-dev.yml
  .github/workflows/pipeline-feature.yml
Labels: github-workflows
