Repository kokiebisu/rental-storage, changes with the labels that .github/labeler.yml gives for each.
All labels: service:authentication, service:authorizer, service:booking, service:image, service:listing, service:payment, service:slack, service:user, scripts, infrastructure, api:appsync, api:apigateway, mobile, github-workflows

fix
  .gitignore
  mobile/package-lock.json
  mobile/package.json
  mobile/yarn.lock
Labels: mobile

fix(mobile): expo crash (#160)
  .gitignore
  mobile/package-lock.json
  mobile/package.json
  mobile/yarn.lock
Labels: mobile

refactor apigateway
  infrastructure/aws/resources/apigateway/Makefile
  infrastructure/aws/resources/apigateway/aws/apigateway/Deployment.yml
  infrastructure/aws/resources/apigateway/aws/apigateway/RestApi.yml
  infrastructure/aws/resources/apigateway/aws/outputs.yml
  infrastructure/aws/resources/apigateway/package.json
  infrastructure/aws/resources/apigateway/pnpm-lock.yaml
  infrastructure/aws/resources/apigateway/serverless.dev.yml
  infrastructure/aws/resources/apigateway/serverless.yml
Labels: infrastructure

refactor appsync
  api/appsync/aws/appsync/data-sources/booking.yml
  api/appsync/aws/appsync/data-sources/image.yml
  api/appsync/aws/appsync/data-sources/listing.yml
  api/appsync/aws/appsync/data-sources/payment.yml
  api/appsync/aws/appsync/data-sources/user.yml
  infrastructure/aws/resources/appsync/Makefile
  infrastructure/aws/resources/appsync/aws/appsync/data-sources/booking.yml
  infrastructure/aws/resources/appsync/aws/appsync/data-sources/image.yml
  infrastructure/aws/resources/appsync/aws/appsync/data-sources/listing.yml
  infrastructure/aws/resources/appsync/aws/appsync/data-sources/payment.yml
  infrastructure/aws/resources/appsync/aws/appsync/data-sources/user.yml
  infrastructure/aws/resources/appsync/aws/appsync/mapping-templates/booking/mapping-template.yml
  infrastructure/aws/resources/appsync/aws/appsync/mapping-templates/booking/query.makeBooking.vtl
  infrastructure/aws/resources/appsync/aws/appsync/mapping-templates/image/mapping-template.yml
  infrastructure/aws/resources/appsync/aws/appsync/mapping-templates/image/query.getPresignedURL.vtl
  infrastructure/aws/resources/appsync/aws/appsync/mapping-templates/listing/mapping-template.yml
  infrastructure/aws/resources/appsync/aws/appsync/mapping-templates/listing/mutation.addListing.vtl
  infrastructure/aws/resources/appsync/aws/appsync/mapping-templates/listing/mutation.removeListingById.vtl
  infrastructure/aws/resources/appsync/aws/appsync/mapping-templates/listing/query.findListingById.vtl
  infrastructure/aws/resources/appsync/aws/appsync/mapping-templates/listing/query.findListingsWithinLatLng.vtl
  infrastructure/aws/resources/appsync/aws/appsync/mapping-templates/listing/query.findMyListings.vtl
  infrastructure/aws/resources/appsync/aws/appsync/mapping-templates/payment/mapping-template.yml
  infrastructure/aws/resources/appsync/aws/appsync/mapping-templates/payment/mutation.makePayment.vtl
  infrastructure/aws/resources/appsync/aws/appsync/mapping-templates/user/mapping-template.yml
  infrastructure/aws/resources/appsync/aws/appsync/mapping-templates/user/mutation.removeUserById.vtl
  infrastructure/aws/resources/appsync/aws/appsync/mapping-templates/user/query.findMe.vtl
  infrastructure/aws/resources/appsync/aws/appsync/mapping-templates/user/query.findUserByEmail.vtl
  infrastructure/aws/resources/appsync/aws/appsync/mapping-templates/user/query.findUserById.vtl
  infrastructure/aws/resources/appsync/package.json
  infrastructure/aws/resources/appsync/pnpm-lock.yaml
  infrastructure/aws/resources/appsync/schema/booking.graphql
  infrastructure/aws/resources/appsync/schema/common.graphql
  infrastructure/aws/resources/appsync/schema/image.graphql
  infrastructure/aws/resources/appsync/schema/listing.graphql
  infrastructure/aws/resources/appsync/schema/payment.graphql
  infrastructure/aws/resources/appsync/schema/user.graphql
  infrastructure/aws/resources/appsync/serverless.dev.yml
  infrastructure/aws/resources/appsync/serverless.yml
Labels: infrastructure, api:appsync

add payments rds instance
  infrastructure/aws/outputs.yml
  infrastructure/aws/resources/rds/payment/DBInstance.yml
  infrastructure/aws/resources/s3/ListingProfile/Bucket.yml
  infrastructure/serverless.dev.yml
  infrastructure/serverless.yml
Labels: infrastructure

rename listing profile bucket
  infrastructure/aws/resources/s3/ListingProfile/BucketPolicy.yml
Labels: infrastructure

create composition package
  packages/composition/.dockerignore
  packages/composition/Dockerfile
  packages/composition/aws/functions/mutation.yml
  packages/composition/aws/functions/query.yml
  packages/composition/jest.config.ts
  packages/composition/package.json
  packages/composition/pnpm-lock.yaml
  packages/composition/serverless.dev.yml
  packages/composition/serverless.yml
  packages/composition/src/adapter/resolver/mutation.ts
  packages/composition/src/adapter/resolver/query.ts
  packages/composition/src/adapter/usecase/addListing.ts
  packages/composition/src/adapter/usecase/findAllCreatedBookings.ts
  packages/composition/src/adapter/usecase/findListingById.ts
  packages/composition/src/adapter/usecase/findListingsWithinLatLng.ts
  packages/composition/src/adapter/usecase/findMe.ts
  packages/composition/src/adapter/usecase/findMyListings.ts
  packages/composition/src/adapter/usecase/findUserByEmail.ts
  packages/composition/src/adapter/usecase/findUserById.ts
  packages/composition/src/adapter/usecase/getPresignedURL.ts
  packages/composition/src/adapter/usecase/makeBooking.ts
  packages/composition/src/adapter/usecase/removeListingById.ts
  packages/composition/src/adapter/usecase/removeUserById.ts
  packages/composition/src/client/base.ts
  packages/composition/src/client/booking.ts
  packages/composition/src/client/image.ts
  packages/composition/src/client/listing.ts
  packages/composition/src/client/user.ts
  packages/composition/test/mutation/createUser.test.ts
  packages/composition/tsconfig.build.json
  packages/composition/tsconfig.docker.json
  packages/composition/tsconfig.json
Labels: none

refactor authentication service
  packages/service-authentication/Dockerfile
  packages/service-authentication/Makefile
  packages/service-authentication/cmd/signin/generate_jwt_token.go
  packages/service-authentication/cmd/signin/go.mod
  packages/service-authentication/cmd/signin/go.sum
  packages/service-authentication/cmd/signin/handler.go
  packages/service-authentication/cmd/signin/models.go
  packages/service-authentication/cmd/signin/test/integration_test/add_test.go
  packages/service-authentication/cmd/signin/test/unit_test/add_test.go
  packages/service-authentication/cmd/signin/verify_password.go
  packages/service-authentication/cmd/signin/verify_token.go
  packages/service-authentication/cmd/signup/generate_jwt_token.go
  packages/service-authentication/cmd/signup/go.mod
  packages/service-authentication/cmd/signup/go.sum
  packages/service-authentication/cmd/signup/handler.go
  packages/service-authentication/cmd/signup/test/integration_test/add_test.go
  packages/service-authentication/cmd/signup/test/unit_test/add_test.go
  packages/service-authentication/cmd/signup/verify_token.go
  packages/service-authentication/cmd/verify/generate_jwt_token.go
  packages/service-authentication/cmd/verify/go.mod
  packages/service-authentication/cmd/verify/go.sum
  packages/service-authentication/cmd/verify/handler.go
  packages/service-authentication/cmd/verify/models.go
  packages/service-authentication/cmd/verify/test/integration_test/add_test.go
  packages/service-authentication/cmd/verify/test/unit_test/add_test.go
  packages/service-authentication/cmd/verify/verify_token.go
  packages/service-authentication/go.mod
  packages/service-authentication/go.sum
  packages/service-authentication/pkg/adapter/response.go
  packages/service-authentication/pkg/adapter/service.go
  packages/service-authentication/pkg/domain/claims.go
  packages/service-authentication/pkg/domain/user.go
  packages/service-authentication/pkg/port/payload.go
  packages/service-authentication/pkg/port/request.go
  packages/service-authentication/pkg/port/response.go
  packages/service-authentication/serverless.dev.yml
  packages/service-authentication/serverless.yml
Labels: service:authentication

refactor authorizer service
  packages/service-authorizer/cmd/authorize/handler.go
  packages/service-authorizer/cmd/authorize/test/integration_test/authorizer_test.go
  packages/service-authorizer/cmd/authorize/test/unit_test/authorizer_test.go
  packages/service-authorizer/go.mod
  packages/service-authorizer/go.sum
  packages/service-authorizer/pkg/port/payload.go
  packages/service-authorizer/pkg/port/request.go
  packages/service-authorizer/serverless.dev.yml
  packages/service-authorizer/serverless.yml
Labels: service:authorizer

refactor listing service
  packages/service-listing/aws/functions/appsync.yml
  packages/service-listing/serverless.dev.yml
  packages/service-listing/serverless.yml
  packages/service-listing/src/adapter/api/graphql/AddListing.ts
  packages/service-listing/src/adapter/api/graphql/FindListingById.ts
  packages/service-listing/src/adapter/api/graphql/FindListingsWithinLatLng.ts
  packages/service-listing/src/adapter/api/graphql/FindMyListings.ts
  packages/service-listing/src/adapter/api/graphql/RemoveListingById.ts
Labels: service:listing

refactor booking service
  packages/service-booking/aws/functions/appsync.yml
  packages/service-booking/serverless.dev.yml
  packages/service-booking/serverless.yml
  packages/service-booking/src/adapter/api/graphql/FindAllCreatedBookings.ts
  packages/service-booking/src/adapter/api/graphql/MakeBooking.ts
Labels: service:booking

refactor image service
  packages/service-image/aws/functions/apigateway.yml
  packages/service-image/aws/functions/appsync.yml
  packages/service-image/get_presigned_upload_url.py
  packages/service-image/serverless.dev.yml
  packages/service-image/serverless.yml
Labels: service:image

refactor payment service
  packages/service-payment/Dockerfile
  packages/service-payment/Makefile
  packages/service-payment/aws/functions/apigateway.yml
  packages/service-payment/aws/functions/appsync.yml
  packages/service-payment/cmd/create_payment_customer/go.mod
  packages/service-payment/cmd/create_payment_customer/go.sum
  packages/service-payment/cmd/create_payment_customer/handler.go
  packages/service-payment/cmd/create_payment_customer/model.go
  packages/service-payment/cmd/create_payment_customer/test/integration_test/add_test.go
  packages/service-payment/cmd/create_payment_customer/test/unit_test/add_test.go
  packages/service-payment/cmd/make_payment/go.mod
  packages/service-payment/cmd/make_payment/go.sum
  packages/service-payment/cmd/make_payment/handler.go
  packages/service-payment/cmd/make_payment/test/integration_test/add_test.go
  packages/service-payment/cmd/make_payment/test/unit_test/add_test.go
  packages/service-payment/go.mod
  packages/service-payment/go.sum
  packages/service-payment/package.json
  packages/service-payment/pkg/adapter/db.go
  packages/service-payment/pkg/adapter/repository.go
  packages/service-payment/pkg/adapter/response.go
  packages/service-payment/pkg/adapter/secrets_manager.go
  packages/service-payment/pkg/domain/payment_customer.go
  packages/service-payment/pkg/port/repository.go
  packages/service-payment/pkg/port/request.go
  packages/service-payment/pkg/port/response.go
  packages/service-payment/serverless.dev.yml
  packages/service-payment/serverless.yml
Labels: service:payment

refactor user service
  packages/service-user/aws/functions/appsync.yml
  packages/service-user/serverless.dev.yml
  packages/service-user/serverless.yml
  packages/service-user/src/adapter/api/graphql/FindMe.ts
  packages/service-user/src/adapter/api/graphql/FindUserByEmail.ts
  packages/service-user/src/adapter/api/graphql/FindUserById.ts
  packages/service-user/src/adapter/api/graphql/RemoveUserById.ts
Labels: service:user

rename slack service
  packages/service-slack/serverless.dev.yml
  packages/service-slack/serverless.yml
Labels: service:slack

fix serverless compose file
  serverless-compose.yml
Labels: none

update script field in root package.json
  package.json
  pnpm-lock.yaml
Labels: none

update github workflows
  .github/workflows/call-deploy-dev.yml
  .github/workflows/call-setup-build.yml
  .github/workflows/call-test-integration.yml
  .github/workflows/call-test-unit.yml
  .github/workflows/pipeline-dev.yml
  .github/workflows/pipeline-feature.yml
Labels: github-workflows

fix unit tests in workflow
  packages/service-authentication/Makefile
  packages/service-authentication/pkg/test/service_test.go
  packages/service-authorizer/Makefile
  packages/service-authorizer/pkg/test/service_test.go
  packages/service-payment/Makefile
  packages/service-payment/pkg/test/service_test.go
Labels: service:authentication, service:authorizer, service:payment

add payment rds resource to dev environment
  infrastructure/serverless.dev.yml
Labels: infrastructure

fix image service serverless config
  packages/service-image/serverless.dev.yml
Labels: service:image

draft integration test github workflow
  .github/workflows/call-test-integration.yml
Labels: github-workflows

.github/labeler.yml:

service:authentication:
  - packages/service-authentication/**
service:authorizer:
  - packages/service-authorizer/**
service:booking:
  - packages/service-booking/**
service:image:
  - packages/service-image/**
service:listing:
  - packages/service-listing/**
service:payment:
  - packages/service-payment/**
service:slack:
  - packages/service-slack/**
service:user:
  - packages/service-user/**
scripts:
  - scripts/**
infrastructure:
  - infrastructure/**
api:appsync:
  - api/appsync/**
api:apigateway:
  - api/apigateway/**
mobile:
  - mobile/**
github-workflows:
  - .github/**
