Repository kokiebisu/rental-storage, changes with the labels that .github/labeler.yml gives for each.
All labels: authentication-service, authorizer-service, booking-service, image-service, listing-service, payment-service, slack-service, user-service, scripts, infrastructure, api, mobile, github-workflows

Fix
  .github/workflows/trigger-feature.yml
  packages/service-slack/package.json
Labels: slack-service, github-workflows

Fix
  packages/service-payment/package.json
Labels: payment-service

fix
  scripts/postinstall.sh
Labels: scripts

test
  .github/workflows/trigger-feature.yml
  package.json
  turbo.json
Labels: github-workflows

test
  .github/workflows/trigger-feature.yml
Labels: github-workflows

test
  .github/workflows/trigger-feature.yml
Labels: github-workflows

test
  .github/workflows/trigger-feature.yml
Labels: github-workflows

test
  package.json
Labels: none

test
  api/apigateway/package-lock.json
  api/appsync/package-lock.json
  package.json
Labels: api

test
  scripts/postinstall.sh
Labels: scripts

test
  .github/workflows/trigger-feature.yml
  scripts/postinstall.sh
Labels: scripts, github-workflows

test
  scripts/postinstall.sh
Labels: scripts

test
  scripts/postinstall.sh
Labels: scripts

test
  .github/workflows/trigger-feature.yml
  Makefile
  package.json
  scripts/postinstall.sh
Labels: scripts, github-workflows

test
  scripts/postinstall.sh
Labels: scripts

test
  scripts/postinstall.sh
Labels: scripts

test
  scripts/postinstall.sh
Labels: scripts

test
  scripts/postinstall.sh
Labels: scripts

fix
  .github/workflows/trigger-feature.yml
  Makefile
  scripts/postinstall.sh
Labels: scripts, github-workflows

fix
  scripts/postinstall.sh
Labels: scripts

fix
  api/apigateway/package-lock.json
  api/appsync/package-lock.json
Labels: api

fix
  .github/workflows/trigger-feature.yml
Labels: github-workflows

fix
  packages/service-listing/src/adapter/Database/ListingRepository.ts
  packages/service-listing/src/adapter/api/controller/index.ts
  packages/service-listing/src/adapter/api/graphql/AddListing.ts
  packages/service-listing/src/adapter/api/graphql/FindListingById.ts
  packages/service-listing/src/adapter/api/graphql/FindListingsWithinLatLng.ts
  packages/service-listing/src/adapter/api/graphql/FindMyListings.ts
  packages/service-listing/src/adapter/api/graphql/RemoveListingById.ts
  packages/service-listing/src/adapter/sender-event/ListingKinesisStreamEventSender.ts
  packages/service-listing/src/apps/port/ListingEventSender.ts
  packages/service-listing/src/apps/port/ListingRepository.ts
  packages/service-listing/src/apps/port/ListingService.ts
  packages/service-listing/src/apps/port/index.ts
  packages/service-listing/src/apps/service/ListingService.ts
  packages/service-listing/src/apps/service/index.ts
Labels: listing-service

fix
  packages/service-listing/src/adapter/databases/ListingRepository.ts
  packages/service-listing/src/adapter/databases/index.ts
  packages/service-listing/src/apps/service/ListingService.ts
Labels: listing-service

fix
  packages/service-user/src/adapters/api/controller/index.ts
  packages/service-user/src/adapters/api/graphql/FindMe.ts
  packages/service-user/src/adapters/api/graphql/FindUserByEmail.ts
  packages/service-user/src/adapters/api/graphql/FindUserById.ts
  packages/service-user/src/adapters/api/graphql/RemoveUserById.ts
  packages/service-user/src/adapters/api/stream/BookingCreated.ts
  packages/service-user/src/adapters/mappers/ItemMapper.ts
  packages/service-user/src/adapters/mappers/PaymentMapper.ts
  packages/service-user/src/adapters/mappers/UserMapper.ts
  packages/service-user/src/adapters/mappers/index.ts
  packages/service-user/src/adapters/repository/AbstractRepository.ts
  packages/service-user/src/adapters/repository/ItemRepository.ts
  packages/service-user/src/adapters/repository/PaymentRepository.ts
  packages/service-user/src/adapters/repository/UserRepository.ts
  packages/service-user/src/adapters/repository/index.ts
  packages/service-user/src/adapters/sender-event/UserKinesisStreamEventSender.ts
  packages/service-user/src/adapters/sender-event/index.ts
  packages/service-user/src/adapters/sender-message/UserSNSMessageSender.ts
  packages/service-user/src/adapters/sender-message/index.ts
  packages/service-user/src/app/service/ItemService.ts
  packages/service-user/src/app/service/PaymentService.ts
  packages/service-user/src/app/service/UserService.ts
Labels: user-service

fix
  packages/service-booking/src/Adapter/Database/BookingRepository.ts
Labels: booking-service

fix
  packages/service-booking/src/adapters/apis/controller/index.ts
  packages/service-booking/src/adapters/apis/graphql/FindAllCreatedBookings.ts
  packages/service-booking/src/adapters/apis/graphql/MakeBooking.ts
  packages/service-booking/src/adapters/brokers/BookingBroker.ts
  packages/service-booking/src/adapters/brokers/index.ts
  packages/service-booking/src/adapters/database/BookingRepository.ts
  packages/service-booking/src/adapters/databases/BookingRepository.ts
  packages/service-booking/src/adapters/databases/index.ts
  packages/service-booking/src/adapters/mappers/BookingMapper.ts
  packages/service-booking/src/adapters/mappers/index.ts
  packages/service-booking/src/apps/port/BookingRepository.ts
  packages/service-booking/src/apps/port/BookingService.ts
  packages/service-booking/src/apps/port/index.ts
  packages/service-booking/src/apps/service/BookingService.ts
  packages/service-booking/src/apps/service/index.ts
  packages/service-booking/src/domain/enums/Aws.ts
  packages/service-booking/src/domain/enums/Currency.ts
  packages/service-booking/src/domain/enums/Status.ts
  packages/service-booking/src/domain/enums/index.ts
  packages/service-booking/src/domain/model/Amount.ts
  packages/service-booking/src/domain/model/Booking.ts
  packages/service-booking/src/types/Booking.ts
Labels: booking-service

fix
  packages/service-booking/src/adapter/api/controller/index.ts
  packages/service-booking/src/adapter/api/graphql/FindAllCreatedBookings.ts
  packages/service-booking/src/adapter/api/graphql/MakeBooking.ts
  packages/service-booking/src/adapter/broker/BookingBroker.ts
  packages/service-booking/src/adapter/broker/index.ts
  packages/service-booking/src/adapter/database/BookingRepository.ts
  packages/service-booking/src/adapter/database/index.ts
  packages/service-booking/src/adapter/mapper/BookingMapper.ts
  packages/service-booking/src/adapter/mapper/index.ts
  packages/service-booking/src/adapters/databases/BookingRepository.ts
  packages/service-booking/src/app/port/BookingRepository.ts
  packages/service-booking/src/app/port/BookingService.ts
  packages/service-booking/src/app/port/index.ts
  packages/service-booking/src/app/service/BookingService.ts
  packages/service-booking/src/app/service/index.ts
Labels: booking-service

fix
  packages/service-booking/src/adapter/api/controller/index.ts
  packages/service-booking/src/adapter/api/graphql/FindAllCreatedBookings.ts
  packages/service-booking/src/adapter/api/graphql/MakeBooking.ts
  packages/service-booking/src/adapter/database/BookingRepository.ts
Labels: booking-service

fix
  packages/service-booking/src/adapter/broker/BookingBroker.ts
  packages/service-booking/src/adapter/database/BookingRepository.ts
  packages/service-booking/src/app/service/BookingService.ts
  packages/service-booking/src/domain/enum/Aws.ts
  packages/service-booking/src/domain/enum/Currency.ts
  packages/service-booking/src/domain/enum/Status.ts
  packages/service-booking/src/domain/enum/index.ts
  packages/service-booking/src/domain/model/Amount.ts
  packages/service-booking/src/domain/model/Booking.ts
  packages/service-booking/src/types/Booking.ts
  packages/service-listing/src/adapter/api/controller/index.ts
  packages/service-listing/src/adapter/api/graphql/AddListing.ts
  packages/service-listing/src/adapter/api/graphql/FindListingById.ts
  packages/service-listing/src/adapter/api/graphql/FindListingsWithinLatLng.ts
  packages/service-listing/src/adapter/api/graphql/FindMyListings.ts
  packages/service-listing/src/adapter/api/graphql/RemoveListingById.ts
  packages/service-listing/src/adapter/database/ListingRepository.ts
  packages/service-listing/src/adapter/database/index.ts
  packages/service-listing/src/adapter/sender-event/ListingKinesisStreamEventSender.ts
  packages/service-listing/src/app/port/ListingEventSender.ts
  packages/service-listing/src/app/port/ListingRepository.ts
  packages/service-listing/src/app/port/ListingService.ts
  packages/service-listing/src/app/port/index.ts
  packages/service-listing/src/app/service/ListingService.ts
  packages/service-listing/src/app/service/index.ts
Labels: booking-service, listing-service

fix
  packages/service-user/src/adapter/api/controller/index.ts
  packages/service-user/src/adapter/api/graphql/FindMe.ts
  packages/service-user/src/adapter/api/graphql/FindUserByEmail.ts
  packages/service-user/src/adapter/api/graphql/FindUserById.ts
  packages/service-user/src/adapter/api/graphql/RemoveUserById.ts
  packages/service-user/src/adapter/api/stream/BookingCreated.ts
  packages/service-user/src/adapter/mapper/ItemMapper.ts
  packages/service-user/src/adapter/mapper/PaymentMapper.ts
  packages/service-user/src/adapter/mapper/UserMapper.ts
  packages/service-user/src/adapter/mapper/index.ts
  packages/service-user/src/adapter/repository/AbstractRepository.ts
  packages/service-user/src/adapter/repository/ItemRepository.ts
  packages/service-user/src/adapter/repository/PaymentRepository.ts
  packages/service-user/src/adapter/repository/UserRepository.ts
  packages/service-user/src/adapter/repository/index.ts
  packages/service-user/src/adapter/sender-event/UserKinesisStreamEventSender.ts
  packages/service-user/src/adapter/sender-event/index.ts
  packages/service-user/src/adapter/sender-message/UserSNSMessageSender.ts
  packages/service-user/src/adapter/sender-message/index.ts
  packages/service-user/src/app/service/ItemService.ts
  packages/service-user/src/app/service/PaymentService.ts
  packages/service-user/src/app/service/UserService.ts
Labels: user-service

fix
  .github/actions/setup-nodejs/action.yml
  .github/actions/test-nodejs/action.yml
  .github/workflows/trigger-feature.yml
  Makefile
  scripts/install.sh
Labels: scripts, github-workflows

fix
  .github/workflows/trigger-feature.yml
Labels: github-workflows

fix
  .github/workflows/trigger-feature.yml
Labels: github-workflows

fix
  .github/actions/test-nodejs/action.yml
Labels: github-workflows

update actions version
  .github/actions/test-nodejs/action.yml
  .github/workflows/trigger-feature.yml
Labels: github-workflows

add python test skeleton
  .gitignore
  packages/service-image/Makefile
  packages/service-image/__pycache__/service.cpython-310.pyc
  packages/service-image/requirements.txt
  packages/service-image/test/test_get_presigned_upload_url.py
  packages/service-slack/Makefile
  packages/service-slack/test/test_add.py
Labels: image-service, slack-service

setup ci
  .github/actions/test-python/action.yml
  .github/workflows/trigger-feature.yml
Labels: github-workflows

setup ci
  .github/actions/test-python/action.yml
  .github/workflows/trigger-feature.yml
Labels: github-workflows

setup ci
  .github/actions/test-python/action.yml
  .github/workflows/trigger-feature.yml
Labels: github-workflows

.github/labeler.yml:

authentication-service:
  - packages/service-authentication/**
authorizer-service:
  - packages/service-authorizer/**
booking-service:
  - packages/service-booking/**
image-service:
  - packages/service-image/**
listing-service:
  - packages/service-listing/**
payment-service:
  - packages/service-payment/**
slack-service:
  - packages/service-slack/**
user-service:
  - packages/service-user/**
scripts:
  - scripts/**
infrastructure:
  - infrastructure/**
api:
  - api/**
mobile:
  - mobile/**
github-workflows:
  - .github/**
